{% extends "dashboard/nav.html" %}

{% block main %}
    <hr>
    <h2>Projects</h2>
    <hr>

    <div class="table-responsive">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Languages</th>
                    <th>Image</th>
                    <th>Video</th>
                    <th>Git URL</th>
                    <th>Live URL</th>
                    <th>Order</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                {% for row in project %}
                <tr>
                    <th>{{loop.index}}</th>
                    <td>{{row['name']}}</td>
                    <td>{{row['description']}}</td>
                    <td>{{row['languages']}}</td>
                    <td>{{row['img']}}</td>
                    <td>{{row['video']}}</td>
                    <td>{{row['git_url']}}</td>
                    <td>{{row['live_url']}}</td>
                    <td>{{row['order']}}</td>
                    <td>
                        <form action="/dashboard" method="post">
                            <button name="btn" value="{{row['id']}}" type="submit">Update</button>
                        </form>
                    </td>
                    <td>
                        <form action="/dashboard/delete" method="post">
                            <button name="btn" value="{{row['id']}}" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                    
            </tbody>
        </table>
    </div>

    <hr>
    <h2>Contact</h2>
    <hr>

    <div class="table-responsive">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Message</th>
                </tr>
            </thead>

            <tbody>
                {% for row in contact %}
                <tr>
                    <th>{{loop.index}}</th>
                    <td>{{row['fname']}}</td>
                    <td>{{row['lname']}}</td>
                    <td>{{row['email']}}</td>
                    <td>{{row['message']}}</td>
                </tr>
                {% endfor %}
                    
            </tbody>
        </table>
    </div>
{% endblock %}